<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <button class="btn btn-success" type="button" [routerLink]="['/settings/tax/add/new']">
            <i class="ti-plus"></i> &nbsp; Add Tax</button>
        </div>
        <br>
        <div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Tax Name</th>
                <!-- <th>Display Name</th> -->
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tax of taxList | async">
                <td>{{ tax.name }}</td>
                <!-- <td>{{ tax.dispName }}</td> -->
                <td class="actionList">
                  <button class="btn btn-sm btn-info" type="button" [routerLink]="['/settings/tax', 'edit', tax.id]">
                    <!-- <i class="ti-pencil"></i> -->Edit
                  </button>
                  <button class="btn btn-sm btn-danger" type="button" (click)="deleteTax($event, tax.id)">
                    <!-- <i class="ti-trash"></i> -->Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4"></div>
</div>
