<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="card">
      <div class="card-body text-center">
        <h2>Steps to Setup Your Outlet</h2>
        <br><br>
        <div class="bg-warning rounded border border-light p-2 m-3">
          <h4><strong>Step 1</strong>: Add Categories</h4>
        </div>
        <img src="assets/images/start-here/Categories.png" alt="Assets" class="img img-responsive" />
        <hr><br>

        <div class="bg-warning rounded border border-light p-2 m-3">
          <h4><strong>Step 2</strong>: Add Addons</h4>
        </div>
        <img src="assets/images/start-here/Addon.png" alt="Assets" class="img img-responsive"/>
        <hr><br>

        <div class="bg-warning rounded border border-light p-2 m-3">
          <h4><strong>Step 3</strong>: Add Menu Items</h4>
        </div>
        <img src="assets/images/start-here/Menu-Item.png" alt="Assets" class="img img-responsive"/>
        <hr><br>
        
        <div class="bg-warning rounded border border-light p-2 m-3">
          <h4><strong>Step 4</strong>: Add Menu</h4>
          <p>Inside Menu Settings, make sure that <strong>Time</strong> & <strong>Order Type</strong> is setup properly and add <strong>Categories</strong> to it</p>
        </div>
        <img src="assets/images/start-here/Menu.png" alt="Assets" class="img img-responsive"/>
        <hr><br>
        
        <div class="bg-warning rounded border border-light p-2 m-3">
          <h4><strong>Step 5</strong>: Add Delivery Zones</h4>
        </div>
        <img src="assets/images/start-here/Zone.png" alt="Assets" class="img img-responsive" />
        <hr><br>
        
        <div class="bg-warning rounded border border-light p-2 m-3">
          <h4><strong>Step 6</strong>: Creates Outlet Users</h4>
        </div>
        <img src="assets/images/start-here/user.png" alt="Assets" class="img img-responsive"/>
      </div>
    </div>
  </div>
</div>
