<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center title" *ngIf="!catGroupID">Add Category Group</h1>
    <h1 class="text-center title" *ngIf="catGroupID">Edit Category Group</h1>
    <br>
    <form class="form-horizontal" id="catGroupForm" #CatGroupForm="ngForm" (ngSubmit)="addCatGroup(CatGroupForm)">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Category Group Name
                      <span>*</span>
                    </label>
                    <input class="form-control" type="text" name="name" required [ngModel]="catGroup?.name" #name="ngModel">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                      <div *ngIf="name.errors.required">Category Group Name is required.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Description
                    </label>
                    <input class="form-control" type="text" name="desc" #desc="ngModel" [ngModel]="catGroup?.desc">
                  </div>
                  <div class="row m-0">
                    <div class="col-12 p-0 pr-1">
                      <div class="form-group">
                        <label>Categories
                          <span>*</span>
                        </label>
                        <ng-select [items]="categoryList" bindLabel="name" bindValue="id" name="category" required
                                   [ngModel]="catGroup?.category" #category="ngModel" [multiple]="true"
                                   [closeOnSelect]="false">
                        </ng-select>
                        <div *ngIf="category.invalid && (category.dirty || category.touched)"
                             class="alert alert-danger">
                          <div *ngIf="category.errors.required">Categories is required.</div>
                        </div>
                      </div>
                    </div>
<!--                     <div class="col-6 p-0 pl-1">
                      <div class="form-group">
                        <label>Sort Weight</label>
                        <input class="form-control" type="number" name="sort" [ngModel]="catGroup?.sort" #sort="ngModel">
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-md-12" *ngIf="catGroup?.lang">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Language</h4>
                <hr>
                <div class="row" ngModelGroup="lang">
                  <div class="col-md-12" *ngFor="let langField of catGroup?.lang | keyvalue" [ngModelGroup]="langField?.key">
                    <h5>{{langField?.value?.name}}</h5>
                    <input type="hidden" name="name" [ngModel]="langField?.value?.name">
                    <div class="row" ngModelGroup="lList">
                      <div class="col-md-6" *ngFor="let row of langField?.value?.lList; let i = index" [ngModelGroup]="i">
                        <div class="form-group row">
                          <label class="col-2 text-right">{{row?.id}}</label>
                          <input type="hidden" name="id" [ngModel]="row?.id">
                          <input class="col-10 form-control" type="text" name="val" [ngModel]="row?.val">
                        </div>
                      </div>
                    </div>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-lg btn-success waves-effect waves-light m-r-10"
                *ngIf="catGroupID">Update</button>
        <button type="submit" class="btn btn-lg btn-success waves-effect waves-light m-r-10"
                *ngIf="!catGroupID">Submit</button>
        <button type="button" class="btn btn-lg btn-inverse waves-effect waves-light"
                [routerLink]="['../..']">Cancel</button>
      </div>
    </form>
  </div>
</div>
