<div class="row">
  <div class="col-sm-12">
    <div class="col-12">
      <h1 class="text-dark m-b-0 text-center">Walk Through</h1>
    </div>
    <form class="form-horizontal" id="walkthroughForm" #walkthroughForm="ngForm" (ngSubmit)="addWalkThrough(walkthroughForm)">
      <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm"></div>
        <div class="col-sm-12 col-xs-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <!-- <div class="col-sm-12">
                  <div class="form-group">
                    <label>Type
                      <span>*</span>
                    </label>
                    <select class="form-control" name="type" required [ngModel]="walkthrough?.type" #type="ngModel">
                      <option *ngFor="let option of typeList" [ngValue]="option.value">{{option.label}}</option>
                    </select>
                    <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert alert-danger">
                      <div *ngIf="type.errors.required">Type is required.</div>
                    </div>
                  </div>
                </div>-->
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Title
                      <span>*</span>
                    </label>
                    <input class="form-control" type="text" name="title" [ngModel]="walkthrough?.title" #title="ngModel"
                           required>
                    <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                      <div *ngIf="title.errors.required">Title is required.</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Description
                    </label>
                    <textarea class="form-control" rows="3" name="desc" #desc="ngModel" [ngModel]="walkthrough?.desc"></textarea>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Image </label> &nbsp; &nbsp;
                    <input type="file" (change)="uploadFile($event, 'image')" accept=".jpg" />
                    <input type="hidden" name="image" [ngModel]="walkthrough?.image">
                    <br>
                    <div *ngIf="walkthrough?.image">
                      <img [src]="walkthrough?.image" class="img-upload-disp-wrapper">
                      <button type="button" class="btn btn-sm btn-danger" (click)="deleteFile('image')">Delete</button>
                    </div>
                    <span class="help-block">
                      <small> Max File Size: 300kb. Max Image Size : 640px by 480px. Format: jpg only. </small>
                    </span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Button
                    </label>
                    <input class="form-control" type="text" name="button" [ngModel]="walkthrough?.button" #walkBtn="ngModel">
                  </div>
                </div>
                <!--<div class="col-sm-6">
                  <div class="form-group">
                    <label>Position
                    </label>
                    <select class="form-control" name="position" required [ngModel]="walkthrough?.position" #position="ngModel">
                      <option *ngFor="let option of positionList" [ngValue]="option.value">{{option.label}}</option>
                    </select>
                  </div>
                </div>-->
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Sort
                    </label>
                    <input class="form-control" type="number" name="sort" [ngModel]="walkthrough?.sort" #sort="ngModel">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="row" ngModelGroup="color">
                <div class="col-sm-12">
                  <h4 class="card-title">Color Settings</h4>
                  <hr>
                </div>
                <div class="col-sm-6">
                  <table class="w-100">
                    <tr>
                      <td class="form-group" width="32%">
                        <label>Background</label>
                        <input class="form-control" [hidden]="true" type="text" name="bg" [ngModel]="walkthrough?.color?.bg">
                        <input class="form-control text-center" [value]="bgColor" [style.background]="bgColor"
                               [cpAlphaChannel]="'always'" [cpOutputFormat]="'hex'" [cpPresetColors]="['#fff', '#2889e9']"
                               [cpAddColorButton]="true" [(colorPicker)]="bgColor" name="bColor" (colorPickerChange)="onChangeColor($event, walkthroughForm, 'walkthroughColor')" />
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Button
                    </label>
                    <select class="form-control" name="button" [ngModel]="walkthrough?.color?.button" #WalkClrBtn="ngModel">
                      <option value='primary'>Primary</option>
                      <option value='light'>Light</option>
                      <option value='dark'>Dark</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <table class="w-100">
                    <tr>
                      <td class="form-group" width="32%">
                        <label>Title</label>
                        <input class="form-control" [hidden]="true" type="text" name="title" [ngModel]="walkthrough?.color?.title">
                        <input class="form-control text-center" [value]="titleColor" [style.background]="titleColor"
                               [cpAlphaChannel]="'always'" [cpOutputFormat]="'hex'" [cpPresetColors]="['#fff', '#2889e9']"
                               [cpAddColorButton]="true" [(colorPicker)]="titleColor" name="tColor" (colorPickerChange)="onChangeTitle($event, walkthroughForm, 'walkthroughTitle')" />
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-sm-6">
                  <table class="w-100">
                    <tr>
                      <td class="form-group" width="32%">
                        <label>Description</label>
                        <input class="form-control" [hidden]="true" type="text" name="desc" [ngModel]="walkthrough?.color?.desc">
                        <input class="form-control text-center" [value]="descColor" [style.background]="descColor"
                               [cpAlphaChannel]="'always'" [cpOutputFormat]="'hex'" [cpPresetColors]="['#fff', '#2889e9']"
                               [cpAddColorButton]="true" [(colorPicker)]="descColor" name="dColor" (colorPickerChange)="onChangeDesc($event, walkthroughForm, 'walkthroughDesc')" />
                      </td>
                    </tr>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-lg btn-success waves-effect waves-light m-r-10">Submit</button>
        <button type="button" class="btn btn-lg btn-inverse waves-effect waves-light" [routerLink]="['/design/walk-through/list']">Cancel</button>
      </div>
      <br>
    </form>
  </div>
</div>
