<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <button class="btn btn-success" type="button" [routerLink]="['add/new']">
            <i class="ti-plus"></i> &nbsp; Add Temporary Closure</button>
        </div>
        <br>
        <div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Reason</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let temporaryClosure of temporaryClosureList | async">
                <td>{{ temporaryClosure.reason }}</td>
                <td class="actionList">
                  <button class="btn btn-sm btn-info" type="button" [routerLink]="['edit', temporaryClosure.id]">
                    <i class="ti-pencil"></i>
                  </button>
                  <button class="btn btn-sm btn-danger" type="button" (click)="deleteTemporaryClosure($event, temporaryClosure.id)">
                    <i class="ti-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>
